<div class="container-fluid col-md-10 mb-5 mt-5">
    <h2 class="text-center mt-5 mb-5-">
        Controle Geral de Administradoras e Operadoras e Corretores
    </h2>
    <div class="row">
        <div class="col-md-4 mt-5 mb-5">
            <app-listagem-cadastro-corretores/>
        </div>
        <div class="col-md-2 mt-5 mb-5">
            <app-listagem-cadastro-operadoras/>       
        </div>
        <div class="col-md-2 mt-5 mb-5">
            <app-listagem-cadastro-administradoras/>
        </div>
        <div class="col-md-4 mt-5 mb-5">
            <app-listagem-associacao-operadora-administradora />
        </div>    
        
    </div>
</div>