<div class="card shadow bg-body-tertiary rounded">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3>Operadoras</h3>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button type="button" data-bs-target="#operadoraModal" data-bs-toggle="modal"
            class="btn btn-success btn-sm d-flex align-items-center justify-content-center">
            <i class="material-icons" style="font-size: 16px;">add</i>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="overflow-auto" style="max-height: 400px;">

    <div class="card-body table-responsive">
      <table class="table" style="background-color: #F8F9FA!important;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of operadoras">
            <td scope="row">{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td class="text-center icone-olho" (click)="detalharOperadora(item.id)">
              <fa-icon [icon]="eyeIcon"></fa-icon>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<form [formGroup]="operadoraForm" (ngSubmit)="onSubmit()">
  <div class="modal fade" id="operadoraModal" aria-hidden="true" aria-labelledby="operadoraModalLabel" tabindex="-1">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="operadoraModalLabel">Cadastrar Operadora</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row mb-4">
                      <label>Nome: </label>
                      <div class="input-group">
                          <input type="text" class="form-control" formControlName="nome" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer d-flex justify-content-between">
                  <button class="btn btn-secondary" data-bs-toggle="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success">Cadastrar</button>
              </div>
          </div>
      </div>
  </div>
</form>